.posts {
    width: 100;
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 150px 10px;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
}