/**
 * Footer
 * @version v1.0.0
 */

.footer {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.footer-light {
  color: rgba(0,0,0,.9);
  transition: .25s ease-out;
}

.footer-dark {
  color: #fff;
  transition: .25s ease-out;
}

@keyframes fadein {
  from { opacity: 0; transform: translate3d(0, 20%, 0);}
  to   { opacity: 1s ease; transform: none;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; transform: translate3d(0, 20%, 0);}
  to   { opacity: 1s ease; transform: none;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; transform: translate3d(0, 20%, 0);}
  to   { opacity: 1s ease; transform: none;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; transform: translate3d(0, 20%, 0);}
  to   { opacity: 1s ease; transform: none;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinMove {
  from { opacity: 0; transform: translate3d(0, 20%, 0);}
  to   { opacity: 1s ease; transform: none;}
}