.user-card-image {
  width: 80%;
}

.user-card-info {
  text-align: justify;
}

.user-card-p {
  color: #000000;
    font-size: 15px;
    line-height: 2;
}

.user-card-p-dev {
  color: #000000;
    font-size: 18px;
    line-height: 2;
}

.user-card-a {
  color: #000000;
  font-size: 30px;
}

.user-card-a:hover {
  color: #000000;
}

@media (max-width: 575px) {
  .user-card {
    max-width: 100%;
  }

  .user-card-image {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .user-card-info { 
    text-align: center !important;
  }

  .user-card-container-a {
    width: 33.33333333%;
    display: inline-block;
  }

}