.rdt_TableHeader {
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 100% !important;
}

.btn-sl-add {
    float: right;
}

.ffiUQl {
    color: #c26774 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.cBYLcD {
    font-size: 1rem !important;
}

.ksKbuS {
    width: 100%;
    text-align: center;
}

.bIEFVh {
    font-size: 1rem !important;
}